{% extends "layout.html" %}
{% block content %}
	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<div class="form-group">
				{{ form.doctor.label(class="form-control-label") }}
				{{ form.doctor()}}
			</div>
			<div class="form-group">
				{{ form.date.label(class="form-control-label") }}
				{{ form.date(class="dtpick") }}
				
			</div>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</fieldset>
	</form>
{% endblock content %}