{% extends "layout.html" %}
{% block content %}
	<br>
	<div class="col-md-12">
		<div class="card text-center">
			<div class="card-header">
				Rezerwacja wizyty
			</div>
			<div class="card-body">
				<form method="POST" action="">
					{{ form.hidden_tag() }}
					<fieldset class="form-group">
						<div class="form-group">
							{{ form.doctor.label(class="form-control-label") }}
							{{ form.doctor(class="form-control")}}
						</div>
						<div class="form-group">
							{{ form.date.label(class="form-control-label") }}
							{{ form.date(class="dtpick", autocomplete="off") }}
							
						</div>
						<div class="form-group">
							<input type="submit" name="sb_button" class="btn btn-outline-info" value="Dalej">
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	var dateToday = new Date();
	$( ".dtpick" ).datepicker({
		minDate: dateToday,
		dateFormat: "yy-mm-dd",
		onSelect: function(date) {
	
	$.ajax({
	type : "POST",
	url : "/receiver",
	contentType : "application/json",
	data : JSON.stringify({"data": date}),
	dataType: "json",
	async: false,
	success: function(data) {
	alert("success: " + data);
	}
	});
	}
	});
	
	</script>
{% endblock content %}